<div class="index3-banner"><img src="images/banner.jpg"></div>
<div class="banner" id="banner">
    <div class="left" ng-click="ji(1)">&lt;</div>
    <div><img src="images/{{i}}.jpg"></div>
    <div class="right" ng-click="ji(2)">&gt;</div>
    <ul>
        <li ng-repeat="key in arr" ng-mouseover="yuan($index)" class="{{i==($index+1)?'liang':''}}"></li>
    </ul>
</div>
<div class="index1-center">
    <div class="index1-center1">
        <div class="index1-center1Div1">公司简介</div>
        <div class="index1-center1Div2">
            <div class="index1-center1Div2Div1"><img src="images/center3.jpg"></div>
            <div class="index1-center1Div2Div2">　重庆宝蒙进出口贸易有限公司是由旅意华侨谢小林先生投资的一家以葡萄酒为主营业务的品牌酒业公司。其在意大利经营的“小林超市”品牌凭借良好的信誉及独到的经营方式名振欧洲华人界。现利用其资源优势倾力打造的“FRANCO 富朗克”品牌，主要致力于意大利各大著名酿酒家族的优质葡萄酒及其文化的推广。所售酒品均采购自实力情。雄厚、品质卓越的葡萄酒公司并直接原装原瓶进口，并通过在业内令人瞩目的表现更是国内同类产品</div>
            <div class="index1-center1Div2Div3">中最具档次、品质最好，价格最实惠的意大利产品。公司拥有领先的经营理念、坚韧不拔的开拓精神、优质的管理团队。为了更好地推进品牌影响力，特诚意在全国范围内寻找合作经销商，公司愿与您携手共同发展。</div></div> 
        <div class="index1-center1Div1">最新动态<span>›</span></div> 
        <div class="index1-center1Div4">
            <ul>
                <li>啤酒企业也防添加剂 下半年或临涨价潮<span>2017-05-03</span></li>
                <li>深圳将建华南最大葡萄酒交易中心<span>2017-05-03</span></li>
                <li>投资缺乏热点名酒受到追捧 陈年茅台遇“爆冷”<span>2017-05-03</span></li>
                <li>国务院食品安全委员会将加强酒类质量监管<span>2017-05-03</span></li>
                <li>帝亚吉欧控股水井坊获放行<span>2017-05-03</span></li>
            </ul>
        </div>         
    </div>
        
    <div class="index1-center2">
        <ul>
            <li><img src="images/center4.jpg"></li>
            <li><img src="images/center5.jpg"></li>
            <li><img src="images/center6.jpg"></li>
            <li><img src="images/center7.jpg"></li>
        </ul>
    </div>
</div>
