<div>
    <div class="index3-banner"><img src="images/banner.jpg"></div>
    <div class="index3-center">
        <div class="index3-center1">
            <span class="index3-center1Span1">文章列表</span>
            <span class="index3-center1Span2">›</span>
        </div>
        <div class="index3-center2">
            <ul>
                <li ng-repeat="center in arr"><a href="javascript:;"><span class="index3-center2Span1">{{center.text}}</span><span class="index3-center2Span2">{{center.date}}</span></a></li>
            </ul>
        </div>
        <div class="index3-center3">
            <span>上一页</span>
            <span class="index3-center3Span1">1</span>
            <span>下一页</span>
        </div>
    </div>
</div>